@page "/customers/delete"
@using CustomerUI
@using Pinewood.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@inject IConfiguration Configuration

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@customer.FirstName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@customer.LastName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@customer.Email</dd>
        </dl>        
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@customer.Address</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@customer.City</dd>
        </dl>
       
        <dl class="row">
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@customer.PostalCode</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Country</dt>
            <dd class="col-sm-10">@customer.Country</dd>
        </dl>
        <EditForm method="post" Model="customer" OnValidSubmit="DeleteCustomer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(customer is null)">Delete</button> |
            <a href="/customers">Back to List</a>
        </EditForm>
    }
</div>

@code {
    Customer? customer;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        List<Customer> customers = await Http.GetFromJsonAsync<List<Customer>>($"{Configuration["PinewoodWebAPI"]}api/Customer") ?? new List<Customer>();
        customer ??= customers.FirstOrDefault(m => m.Id == Id);

        if (customer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
 
    }

    public async Task DeleteCustomer()
    {
        await Http.DeleteAsync($"{Configuration["PinewoodWebAPI"]}api/customer/" + customer?.Id);
        NavigationManager.NavigateTo("/customers");
    }
}
